<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>BGTaskSchedulerPermittedIdentifiers</key>
        <array>
                <string>com.fa.schedule.refresh</string>
                <string>com.fa.schedule.mailRefresh</string>
        </array>
        <key>NSUserNotificationUsageDescription</key>
        <string>Приложение использует уведомления для оповещения о новых письмах и изменениях в расписании.</string>
        <key>NSMailNotificationUsageDescription</key>
        <string>Показ уведомлений о новых входящих письмах.</string>
        <key>CFBundleIcons</key>
        <dict>
                <key>CFBundleAlternateIcons</key>
                <dict>
                        <key>Icon-TurquoiseBg-WhiteHat</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                        <string>Icon-TurquoiseBg-WhiteHat</string>
                                </array>
                                <key>UIPrerenderedIcon</key>
                                <false/>
                        </dict>
                        <key>Icon-RedBg-WhiteHat</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                        <string>Icon-RedBg-WhiteHat</string>
                                </array>
                                <key>UIPrerenderedIcon</key>
                                <false/>
                        </dict>
                        <key>Icon-DeepBlueBg-WhiteHat</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                        <string>Icon-DeepBlueBg-WhiteHat</string>
                                </array>
                                <key>UIPrerenderedIcon</key>
                                <false/>
                        </dict>
                        <key>Icon-Turquoise-Logo30</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                        <string>Icon-Turquoise-Logo30</string>
                                </array>
                                <key>UIPrerenderedIcon</key>
                                <false/>
                        </dict>
                        <key>Icon-Red-Logo30</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                        <string>Icon-Red-Logo30</string>
                                </array>
                                <key>UIPrerenderedIcon</key>
                                <false/>
                        </dict>
                        <key>Icon-DeepBlue-Logo30</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                        <string>Icon-DeepBlue-Logo30</string>
                                </array>
                                <key>UIPrerenderedIcon</key>
                                <false/>
                        </dict>
                        <key>Icon-WhiteBg-TurquoiseHat</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                        <string>Icon-WhiteBg-TurquoiseHat</string>
                                </array>
                                <key>UIPrerenderedIcon</key>
                                <false/>
                        </dict>
                        <key>Icon-WhiteBg-RedHat</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                        <string>Icon-WhiteBg-RedHat</string>
                                </array>
                                <key>UIPrerenderedIcon</key>
                                <false/>
                        </dict>
                        <key>Icon-WhiteBg-DeepBlueHat</key>
                        <dict>
                                <key>CFBundleIconFiles</key>
                                <array>
                                        <string>Icon-WhiteBg-DeepBlueHat</string>
                                </array>
                                <key>UIPrerenderedIcon</key>
                                <false/>
                        </dict>
                </dict>
        </dict>
</dict>
</plist>
